[submodule "external/tinycolormap"]
	path = external/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "external/mathtoolbox"]
	path = external/mathtoolbox
	url = https://github.com/yuki-koyama/mathtoolbox.git
[submodule "external/enhancer"]
	path = external/enhancer
	url = https://github.com/yuki-koyama/enhancer.git
